.footer {
    text-align: center;
    margin-top: 80px;
    background-color: #0a0826;
    color: #ffffff;
    padding: 30px 0;
    height: 150px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer small {
    color: #d9dbe1;
}